
#header{
    width:1200px;
    height:100px;
    background-color: aquamarine;
}

#header>#logo{
    float:left;
    width:200px;
    height:100px;
    background-color: darkkhaki;
}

#header>#nav{
    float:left;
    width:1000px;
    height:100px;
    background-color: darkorange;
}